<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Time</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<section class="container">
 <div class="title-header">
  <h2>Productos:</h2>
 </div>
  {{#if products}}
  <article class="products-list">
{{#each products}}
    <div class="product-card">
      <img src="https://source.unsplash.com/480x300/?foods&random={{id}}" alt="">
      <div class="product-info">
        <h3>{{title}}</h3>
        <p>ID: {{id}} </p>
        <p><span>Descripción:</span> <br> {{description}}</p>
        <p><span>Stock disponible:</span> {{stock}}</p>
        <p>${{price}}</p>
   </div>
    </div>
    {{/each}}
  </article>
  {{else}}
  <p>No hay productos.</p>
  {{/if}}
</section>