<h1>bien cvenido a la vista home</h1>


{{#each products}}
<h2>{{this.id}} </h2>
<h3>{{this.title}}</h3>
<p>{{this.description}}</p>
  <p> {{this.price}}</p>
   <p> {{this.thumbnail}}</p>
   <p> {{this.code}}</p>
 <p>  {{this.stock}}</p>
{{/each}}